In [3]:
cus=pd.read_csv('Customer Table Level 1.csv')

In [2]:
import pandas as pd

In [4]:
cus

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
3,4,Around the Horn,Thomas Hardy,London,34626,UK
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [5]:
type(cus)
cus.index
cus.columns
cus.to_numpy
cus.drop(3)
cus.loc[tuple((np.arange(48,78))), ('Company Name', 'Customer Name')]

NameError: name 'np' is not defined

In [6]:
type(cus)

pandas.core.frame.DataFrame

In [7]:
cus.index

RangeIndex(start=0, stop=91, step=1)

In [8]:
cus.columns

Index(['CustomerID', 'Company Name', 'Costumer Name', 'City', 'PostalCode',
       'Country'],
      dtype='object')

In [9]:
cus.to_numpy

<bound method DataFrame.to_numpy of     CustomerID                        Company Name       Costumer Name  \
0            1                 Alfreds Futterkiste        Maria Anders
1            2  Ana Trujillo Emparedados y helados        Ana Trujillo
2            3             Antonio Moreno Taqueria      Antonio Moreno
3            4                     Around the Horn        Thomas Hardy
4            5                   Berglunds snabbkp  Christina Berglund
..         ...                                 ...                 ...
86          87                      Wartian Herkku    Pirkko Koskitalo
87          88              Wellington Importadora       Paula Parente
88          89                White Clover Markets      Karl Jablonski
89          90                         Wilman Kala     Matti Karttunen
90          91                              Wolski             Zbyszek

           City  PostalCode  Country
0        Berlin       12209  Germany
1   Mexico D.F.        5021   Mexico
2   Mexico D.F.        5023   Mexico
3        London       34626       UK
4         Lulea       95822   Sweden
..          ...         ...      ...
86         Oulu       90110  Finland
87      Resende       51849   Brazil
88      Seattle       98128      USA
89     Helsinki       21240  Finland
90        Walla       56189   Poland

[91 rows x 6 columns]>

In [10]:
cus.drop(3)

,CustomerID,Company Name,Costumer Name,City,PostalCode,Country
0,1,Alfreds Futterkiste,Maria Anders,Berlin,12209,Germany
1,2,Ana Trujillo Emparedados y helados,Ana Trujillo,Mexico D.F.,5021,Mexico
2,3,Antonio Moreno Taqueria,Antonio Moreno,Mexico D.F.,5023,Mexico
4,5,Berglunds snabbkp,Christina Berglund,Lulea,95822,Sweden
5,6,Blauer See Delikatessen,Hanna Moos,Mannheim,68306,Germany
...,...,...,...,...,...,...
86,87,Wartian Herkku,Pirkko Koskitalo,Oulu,90110,Finland
87,88,Wellington Importadora,Paula Parente,Resende,51849,Brazil
88,89,White Clover Markets,Karl Jablonski,Seattle,98128,USA
89,90,Wilman Kala,Matti Karttunen,Helsinki,21240,Finland
90,91,Wolski,Zbyszek,Walla,56189,Poland

In [11]:
import numpy as np

In [17]:
cus.loc[tuple((np.arange(48,78))), ('Company Name', 'Costumer Name')]

                    Company Name        Costumer Name
48  Magazzini Alimentari Riuniti     Giovanni Rovelli
49                  Maison Dewey      Catherine Dewey
50                Mere Paillarde       Jean Fresniere
51        Morgenstern Gesundkost      Alexander Feuer
52                   North/South       Simon Crowther
53        Oceano Atlantico Ltda.       Yvonne Moncada
54        Old World Delicatessen        Rene Phillips
55            Ottilies Kaseladen  Henriette Pfalzheim
56             Paris specialites       Marie Bertrand
57     Pericles Comidas clasicas  Guillermo Fernandez
58              Piccolo und mehr          Georg Pipps
59       Princesa Isabel Vinhoss     Isabel de Castro
60                   Que Delicia     Bernardo Batista
61                 Queen Cozinha       Lucia Carvalho
62                    QUICK-Stop          Horst Kloss
63                 Rancho grande     Sergio Gutierrez
64    Rattlesnake Canyon Grocery         Paula Wilson
65            Reggiani Caseifici      Maurizio Moroni
66            Ricardo Adocicados       Janete Limeira
67            Richter Supermarkt         Michael Holz
68              Romero y tomillo     Alejandra Camino
69                 Sante Gourmet     Jonas Bergulfsen
70            Save-a-lot Markets       Jose Pavarotti
71            Seven Seas Imports           Hari Kumar
72                 Simons bistro       Jytte Petersen
73          Specialites du monde    Dominique Perrier
74         Split Rail Beer & Ale   Art Braunschweiger
75              Supremes delices     Pascale Cartrain
76                The Big Cheese            Liz Nixon
77               The Cracker Box             Liu Wong